extends layout

block content
  .center
    .jumbotron
      h1(class='text-center')=404
      h2(class='text-center')= error
      hr
      .text-center
        a(href='/') 
          button(class='btn btn-info') Home
