.nav .current{
	background-color:  rgb(107, 103, 103) !important;
	
}

.nav .current .txtcolor{
	color: rgb(235, 212, 223) !important;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
}

.grid line {
	stroke: rgb(175, 175, 175);
	stroke-opacity: 0.5;
	shape-rendering: crispEdges;
}

.bg {
	background: url(../../static/img/background_image.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  

.center{
	width: 50%;
	  height: 50%;
	  position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
  }

.font {
    font-family: Helvetica, sans-serif;
	font-size: 1rem;
}

.capitalise{
    text-transform: uppercase;
}

.title-card{
	width: 50%;
	  height: 50%;
	  position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  padding: 30px;
	  border-radius: 5px;
	  text-align: center;
	  background: #0519852d;
  }

  .title-card .content{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
  }

  input[type=range] {
	height: 26px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #50555C;
	background: #50555C;
	border-radius: 14px;
	border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 40px;
	border-radius: 12px;
	background: #529DE1;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #50555C;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #50555C;
	background: #50555C;
	border-radius: 14px;
	border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 40px;
	border-radius: 12px;
	background: #529DE1;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 28px;
	box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 28px;
	box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 40px;
	border-radius: 12px;
	background: #529DE1;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #50555C;
  }
  

