.nav .current{
	background-color:  rgb(107, 103, 103) !important;
	
}

.nav .current .txtcolor{
	color: rgb(235, 212, 223) !important;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
}

.grid line {
	stroke: rgb(175, 175, 175);
	stroke-opacity: 0.5;
	shape-rendering: crispEdges;
}

.bg {
	background: url(../../static/img/background_image.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  

.center{
	width: 50%;
	  height: 50%;
	  position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
  }

.font {
    font-family: Helvetica, sans-serif;
	font-size: 1rem;
}

.capitalise{
    text-transform: uppercase;
}

.title-card{
	width: 50%;
	  height: 50%;
	  position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  padding: 30px;
	  border-radius: 5px;
	  text-align: center;
	  background: #0519852d;
  }

  .title-card .content{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
  }
  

